/**********
* Main rules of the structure of each pages
**********/

.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.full-height {
  height: 100vh;
}

.landscape {
  background-image: url('../../../img/landscape.jpg');
}

.bg-white {
  background-color: #fff;
}

.bg-red {
  background-color: var(--color-red) !important;
}

.bg-blue {
  background-color: var(--color-blue) !important;
}

/* adding a class for "Nous Contacter" button */
.bg-green {
  background-color: var(--color-green) !important;
}

.filterType-btn{
  background-color: transparent;
  color: var(--color-red) ! important;
  border-color: var(--color-red) !important;
}

.filterType-btn:hover{
  background-color: var(--color-red) !important;
  color: white !important;
}
.filterType-btn:active{
  background-color: var(--color-blue) !important;
  color: white !important;
}

.bg-black {
  background-color: rgba(0, 0, 0, 0.1);
}

.opacity-50 {
  opacity: .5;
}

/**********
* Dashboard structure rules of the structure of each pages
**********/

.wrapper {
  width: 100%;
  min-height: 100vh;
}

#content {
    position: relative;
    flex-basis: 100%;
}
